# Supabase Connection Settings
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_ANON_KEY=
SUPABASE_JWT_SECRET=

# Frontend Connection & CORS Settings
FRONTEND_URL=http://localhost:5173

# API Server Settings
PORT=8000
HOST=0.0.0.0
ENV=development
